:root{
	background-color:#f5f5f5;
}
	.main-container{
		padding:10px;
	}

.testimonial1{
	 font-style: normal;
	background-color:white;
	height:100px;
	width:800px;
	padding:20px

	
}
.testimonial2{
	 font-style: normal;
	background-color:white;
	height:100px;
	width:800px;
	padding:20px
	
	
}
p{
	font-style: italic;
	padding-right:10px;

	text-align:right;
}
p1{
	padding:10px
}