:root{
	background-color:grey;
}
.testimonial1{
	 font-style: normal;
	background-color:white;
	height:100px;
	width:800px;
	padding:20px
	border:2px;
	
}
.testimonial2{
	 font-style: normal;
	background-color:white;
	height:100px;
	width:800px;
	padding:20px
	border:2px;
	
}
.author{
	font-style: italic;
	padding-right:10px;

	text-align:right;
}